Package: ecollector
Version: 0.1.1
Replaces: ecollector
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Aleksandrs Livincovs <aleksandrs.livincovs@gmail.com>
Description: Event collector service.futurehome .
