[Unit]
Description=Event collector service

[Service]
Type=simple
ExecStart=/opt/thingsplex/ecollector/ecollector -c config.json
User=ecollector
WorkingDirectory=/opt/thingsplex/ecollector
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target